<div class="header flex items-center justify-between gap-3 w-full  p-3 -mt-[15px] relative">
  <div class="flex items-center  h-10">
    <span #menuButton (click)="toggleMenu()" class="icon text-gray-800 cursor-pointer pi pi-bars">
    </span>

    <img class="ml-3 h-[40px]" src="logo.png" alt="logo" />
  </div>
  <div class="flex-1 flex justify-end md:justify-center max-w-[400px]">
    <div id="search"
      class="flex fixed md:relative left-0 right-0 -top-52 md:top-auto md:mt-auto w-full transition-all duration-300 ease-in-out p-3 md:p-0 bg-white md:bg-transparent z-50 md:z-auto">
      <p-iconfield class="w-full">
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Meklēt" class="w-full" />
      </p-iconfield>
      <div (click)="toggleSearch()" class="md:hidden px-3 py-2">
        <span class="icon text-gray-800 cursor-pointer pi pi-times "></span>
      </div>
    </div>

    <div (click)="toggleSearch()" class="md:hidden mr-4">
      <span class="icon text-gray-800 cursor-pointer pi pi-search "></span>
    </div>


  </div>

  <div class="flex justify-content-end">
    <p-menu #userMenu [model]="userMenuItems" [popup]="true" />

    <div (click)="showUserMenu($event)" class="cursor-pointer py-1 text-slate-950 max-w-[250px] pr-6 relative">
      <span class="hidden sm:block">Jānis Bērziņš</span>
      <span
        class=" sm:hidden  flex items-center justify-center bg-blue-200  rounded-full aspect-square w-[42px] h-[42px] font-semibold">JB</span>
      <span class="material-symbols-rounded absolute right-0 top-0 translate-y-1/2">
        keyboard_arrow_down
      </span>
      <div class=" text-xs hidden sm:block text-ellipsis whitespace-nowrap overflow-hidden">
        Liepājas valstspilsētas pašvaldības aģentūra "Liepājas
        Sabiedriskais transports"
      </div>
    </div>
  </div>
</div>
<div
  class="absolute top-[73px] bottom-[15px] w-[270px] bg-white p-1 shadow-lg lg:shadow-none z-50 border border-gray-200 rounded-lg transition-all duration-300 ease-in-out"
  id="left-menu">
  <numo-left-menu [items]="items"></numo-left-menu>
</div>