<div class="header flex items-center justify-between gap-3 w-full  p-3">
  <div class="flex items-center  h-10">
    <span #menuButton (click)="toggleMenu($event)" class="icon text-gray-800 cursor-pointer pi pi-bars">
    </span>

    <img class="ml-3 h-[40px]" src="logo.png" alt="logo" />
  </div>
  <div class="flex-1 flex justify-center relative max-w-[400px]">
    <p-iconfield class="w-full">
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Meklēt" class="w-full" />
    </p-iconfield>
  </div>

  <div class="flex justify-content-end">
    <p-menu #userMenu [model]="userMenuItems" [popup]="true" />

    <div (click)="showUserMenu($event)" class="cursor-pointer py-1 text-slate-950 max-w-[250px] pr-6 relative">
      <span class="hidden sm:block">Jānis Bērziņš</span>
      <span
        class=" sm:hidden  flex items-center justify-center bg-blue-200  rounded-full aspect-square w-[42px] h-[42px] font-semibold">JB</span>
      <span class="material-symbols-rounded absolute right-0 top-0 translate-y-1/2">
        keyboard_arrow_down
      </span>
      <div class=" text-xs hidden sm:block text-ellipsis whitespace-nowrap overflow-hidden">
        Liepājas valstspilsētas pašvaldības aģentūra "Liepājas
        Sabiedriskais transports"
      </div>
    </div>
  </div>
</div>
<numo-left-menu [items]="items" id="left-menu" class="-left-[350px] absolute top-[15px]"></numo-left-menu>
